.Slider {
  display: flex;
  align-items: center;
  height: 500px;
  padding: 0 24px;
  background-color: #d9d9d9;

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__button {
    box-sizing: border-box;
    cursor: pointer;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-image: url('../../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;

    &--left {
      transform: rotate(180deg);
    }
  }
}
