@import '../../utils/var';

.Footer {
  background-color: $third-color;

  &__info {
    padding: 100px 140px 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 330px;
    line-height: 19px;
    color: #808080;
  }

  &__logo {
    line-height: 52px;
    text-decoration: none;
    font-family: Kodchasan, sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
  }

  &__text {
    font-size: 16px;

    &--size-24 {
      font-size: 24px;
    }

    &--color-light {
      color: #a9a9a9;
    }
  }

  &__form {
    display: flex;
    align-items: center;

    input {
      box-sizing: border-box;
      padding: 12px;
      height: 40px;
      font-size: 14px;
      border: 1px solid #fff;
      outline: none;
      background-color: transparent;
      color: #fff;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      transition: background-color 0s 600000s, color 0s 600000s;
    }

    button {
      padding: 10px 16px;
      width: 86px;
      height: 40px;
      border: none;
      transition: all .5s;
      font-size: 16px;
      color: #000;

      &:hover {
        background-color: #71b360;
      }
    }
  }

  &__share {
    display: flex;
    gap: 12px;
  }

  &__icon {
    width: 36px;
    height: 36px;
    transition: all $transition-time;
    transition-timing-function: ease-out;
    color: transparent;

    &:hover {
      transform: scale(1.2);
    }

    &--twitter {
      background-image: url('../../img/icon-twitter.svg');
    }

    &--facebook {
      background-image: url('../../img/icon-facebook.svg');
    }

    &--linkedin {
      background-image: url('../../img/icon-linkedin.svg');
    }

    &--instagram {
      background-image: url('../../img/icon-instagram.svg');
    }
  }

  &__catalog {
    position: relative;
    top: 50px;
  }

  &__line {
    margin: 0 100px;
    border: 1px solid #8c8c8c;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-size: 11px;
    letter-spacing: 1px;
    color: #fff;

    &::before {
      content: '\00A9';
      position: relative;
      right: 5px;
    }
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    padding-left: 10px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    color: #b7b6b6;
  }

  &__link {
    padding-left: 10px;
    line-height: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    transition: all .2s;
    color: #b7b6b6;

    &:hover {
      transform: translateX(10px);
    }

    &:hover::after {
      content: '';
      display: block;
      position: relative;
      top: 5px;
      height: 2px;
      background-color: #b7b6b6;
    }
  }
}

.year {
  padding-right: 5px;
}
