.Main {
  padding-top: 200px;

  &__catalog {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 0 142px 48px 142px;
  }

  &__categories {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #383838;

    &:hover::after {
      content: '';
      display: block;
      position: relative;
      top: 5px;
      height: 1px;
      background-color: #000;
    }
  }

  &__partners {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0 132px;
  }

  &__line {
    margin: 0 25px;
    border: 1px solid #000;
  }

  &__store {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 46px 24px 84px;
  }

  &__store-browse {
    display: flex;
    flex-wrap: wrap;
  }
}
